<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<app-header></app-header>

<body>
  <section class="banner-section"></section>
  <section class="post-content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
          <h1 class="text-center">Link Utili e Fonti</h1>
          <ul class="list-inline text-center">
            <li>Vittorio Landi |</li>
            <li>Uda |</li>
            <li>{{ currentDate | date : "y/M/d" }} |</li>
          </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">

          <div class="well">
            <blockquote>
              <footer><cite><a href="https://www.llnl.gov/news/national-ignition-facility-achieves-fusion-ignition"
                    target="_blank">
                    Reazione di fusione nucleare
                  </a></cite> </footer>
            </blockquote>
          </div>

          <div class="well">
            <blockquote>
              <footer><cite><a
                    href="https://www.raiplay.it/video/2021/08/Fusione-nucleare---Superquark---25082021-2b88aca7-fa5d-4a39-8f63-59a2c7fe9436.html"
                    target="_blank">
                    Fusione nucleare in Italia
                  </a></cite> </footer>
            </blockquote>
          </div>

          <div class="well">
            <blockquote>
              <footer><cite><a href="https://www.un.org/ecosoc/en/sustainable-development" target="_blank">
                    UN's article on Sustainable Development
                  </a></cite></footer>
            </blockquote>
          </div>

          <div class="well">
            <blockquote>
              <footer><cite><a href="https://www.ecoage.it/storia-delle-fonti-di-energia.htm" target="_blank">
                    Storia dell'energia
                  </a></cite></footer>
            </blockquote>
          </div>

          <div class="well">
            <blockquote>
              <footer><cite><a
                    href="https://www.enelgreenpower.com/it/learning-hub/energie-rinnovabili/energia-geotermica/italia"
                    target="_blank">Energia geotermica in Italia
                  </a></cite></footer>
            </blockquote>
          </div>

          <div class="well">
            <blockquote>
              <footer><cite><a href="https://www.ecoage.it/storia-delle-fonti-di-energia.htm" target="_blank">Libri
                    sull'energia rinnovabile
                  </a></cite></footer>
            </blockquote>
          </div>

          <div class="image-block">
            <img src="/assets/panorama.jpg" class="img-responsive" />
          </div>



        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
        </div>
        <div class="well bg-dark rounded-5">
          <h2 class="text-white">About me...</h2>
          <img src="" class="img-rounded" />
          <p class="text-white">
          </p>
          <a id="github" href="https://github.com/Vic0Lan" class="btn text-white">Read more</a>
        </div>
      </div>
    </div>
    <!-- /container -->
  </section>
</body>

<app-footer></app-footer>
