<nav class="navbar navbar-expand navbar-expand-lg navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand nav-link" id="items"  routerLink="/home">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" routerLink="/more" id="items">Approfondimenti</a></li>
        <li class="nav-item active"><a class="nav-link" routerLink="/calculate"id="items">Calcola</a></li>
        <li class="nav-item active"><a class="nav-link" routerLink="/links" id="items">Link utili</a></li>

      </ul>

    </div>
  </div>
</nav>
