<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<app-header></app-header>

<body>
  <section class="banner-section"></section>
  <section class="post-content-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
          <h1 class="text-center">energia rinnovabile</h1>
          <ul class="list-inline text-center">
            <li>Vittorio Landi |</li>
            <li>Uda |</li>
            <li>{{ currentDate | date : "y/M/d" }} |</li>
          </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
          <p class="lead">
            Le fonti energetiche rinnovabili, a differenza delle fonti di
            energia non rinnovabili, sono forme di energia che rispettano le
            risorse provenienti dal mondo naturale. Non inquinano e non si
            esauriscono, dal momento che hanno la capacità di rigenerarsi a fine
            ciclo. Da tempo hanno fatto il loro ingresso anche nel nostro paese
            e si stanno sempre più affermando come energia del futuro, a
            disposizione di tutti, pulita ed economica.
          </p>
          <div class="well">
            <blockquote>
              <p><cite>"Più di un terzo dell’energia elettrica prodotta arriva da fonti green: l’idroelettrico domina da
                  sempre, seguono il solare fotovoltaico, le bioenergie, l’eolico e il geotermico. Nel complesso,
                  l’Italia
                  è il terzo produttore di rinnovabili in Europa."</cite></p>
              <footer><cite><a href="https://www.enelgreenpower.com/it/learning-hub/energie-rinnovabili/italia"
                    target="_blank">
                    enelgreenpower</a></cite> </footer>
            </blockquote>
          </div>

          <p>
            L’attuale modello energetico prevalente, oltre a non essere sostenibile da un punto di vista ambientale,
            crea
            sprechi e diseguaglianze economiche e sociali. Dobbiamo assolutamente abbandonare il consumo dei
            combustibili fossili al più presto.
          </p>
          <div class="well">
            <blockquote>
              <p>
                <cite>"Quando non c'è energia, non c'è colore, non c'è forma, non c'è
                  vita"</cite>
              </p>
              <footer><cite title="Source Title"><a href="https://it.wikipedia.org/wiki/Caravaggio"
                    target="_blank">Caravaggio</a></cite></footer>
            </blockquote>
          </div>

          <p>
            La Commissione europea ha presentato una comunicazione sulle energie rinnovabili in cui studia come ridurre
            i costi grazie a un approccio più coordinato a livello UE e delinea la politica da attuare dopo il 2020.
            Riuscire a generare più energia sfruttando il vento, il sole, le maree, la biomassa, le risorse
            idroelettriche e geotermiche aiuta l'UE a dipendere meno dalle importazioni di energia e a rilanciare
            l'innovazione e l'occupazione.
          </p>
          <p>
            Sarebbe possibile far calare i costi favorendo la concorrenza sul mercato energetico dell'UE. La progressiva
            eliminazione delle sovvenzioni per i combustibili fossili e la revisione della tassazione dei prodotti
            energetici dovrebbero incentivare gli investimenti nelle tecnologie a basse emissioni di CO2 (anidride
            carbonica).
          </p>
          <div class="well">
            <blockquote>
              <p>
                <cite>"At the core of the 2020-2030 decade is the need for action to tackle growing poverty, empower women and girls, and address the climate emergency."</cite>
              </p>
              <footer><cite title="Source Title"><a href="https://www.un.org/ecosoc/en/sustainable-development"
                    target="_blank">UN (United Nations)</a></cite></footer>
            </blockquote>
          </div>
          <p>
            Dal Rapporto 2018 Fonti rinnovabili in Italia e in Europa emerge, inoltre, che tra i cinque principali Paesi
            UE per consumi energetici complessivi, l’Italia registra nel 2018 il valore più alto in termini di quota
            coperta da FER (circa 18%).
          </p>
          <blockquote>
            <ul>
              <li>il 52% proviene da risorsa idroelettrica</li>
              <li>il 23% da solare fotovoltaico</li>
              <li>il 18% da fonte eolica</li>
              <li>il 6% da altre fonti (ad es. geotermoelettrica)</li>
            </ul>

          </blockquote>

          <div class="image-block">
            <img src="/assets/pale_eoliche.jpeg" class="img-responsive" />
          </div>

          <p>
            Produrre energia rinnovabile fa bene all’ambiente, all’economia e alle persone.
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">



          <div class="list-group">
            <a class="list-group-item active" id="list-group">
              <h2 class="list-group-item-heading">Riguardo al nucleare...</h2>
              <p class="list-group-item-text">
                L'energia nucleare, o energia atomica, è l'energia liberata dalle reazioni nucleari e dal decadimento
                radioattivo sotto forma di energia elettromagnetica e cinetica.
              </p>
            </a>
            <a class="list-group-item">
              <h3 class="list-group-item-heading">Energia nucleare da fissione</h3>
              <p class="list-group-item-text">
                L'energia nucleare da fissione di elementi naturalmente radioattivi, non è ritenuta annoverabile fra le
                rinnovabili in senso proprio poiché basata sullo sfruttamento di riserve limitate di origine minerale,
                in particolare per quanto riguarda l'energia da fissione e il ciclo di reazione che si basa
                sull'uranio-235 come materiale fissile.
              </p>

            </a>

            <a class="list-group-item">
              <h3 class="list-group-item-heading">Energia nucleare da fusione</h3>
              <p class="list-group-item-text">
                In prospettiva più lontana, lo sfruttamento dell'energia nucleare da fusione nel ciclo del deuterio e
                trizio è definibile come "rinnovabile" in senso lato, poiché prodotta a partire da elementi abbondanti e
                quasi inesauribili, che pongono il suo sfruttamento ipotizzabile su un'orizzonte temporale quasi
                illimitato.
              </p>
            </a>
          </div>
          <div class="well">
            <div class="media" routerLink="/more">
              <div class="media-left">
                <a>
                  <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px"
                    src="/assets/montagna.jpg" data-holder-rendered="true" />
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Breve storia delle fonti energetiche...</h4>

              </div>
            </div>
            <div class="media" routerLink="/more">
              <div class="media-left">
                <a>
                  <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px"
                    src="/assets/tramonto.png" data-holder-rendered="true" />
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Tutto quello che sappiamo sulla fusione nucleare...</h4>

              </div>
            </div>
            <div class="media" routerLink="/more">
              <div class="media-left">
                <a>
                  <img data-src="holder.js/64x64" class="media-object" alt="64x64" style="width: 64px; height: 64px"
                    src="/assets/fiori.jpg" data-holder-rendered="true" />
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">L'energia geotermica...</h4>

              </div>
            </div>

          </div>
          <div class="well bg-dark rounded-5">
            <h2 class="text-white">About me...</h2>
            <img src="" class="img-rounded" />
            <p class="text-white">
            </p>
            <a id="github" href="https://github.com/Vic0Lan" class="btn text-white">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /container -->
  </section>
</body>

<app-footer></app-footer>
