<app-header></app-header>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<section class="banner-section">
</section>
<section class="post-content-section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

        <h1 class="text-center">Approfondimenti </h1>
        <ul class="list-inline text-center">
          <li>Vittorio Landi |</li>
          <li>Uda |</li>
          <li>{{ currentDate | date : "y/M/d" }} |</li>
        </ul>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">

        <h2>Breve storia delle fonti energetiche...</h2>
        <p>La storia delle fonti di energia inizia con la coperta del fuoco circa un milione di anni fa. Dapprima il
          fuoco viene raccolto dagli incendi provocati dai fulmini e conservato nella fiamma del villaggio,
          successivamente l'uomo scopre la possibilità di accendere il fuoco con la pietra focaia. Il fuoco è la prima
          fonte energetica della storia.</p>

        <p>
          La forza del vento, ad esempio, è utilizzata fin dal 2 millennio avanti cristo per la navigazione fluviale e
          marittima, restando l'unico modo di solcare i mari fino al XIX secolo. Senza il vento nessuno avrebbe mai
          scoperto l'America. Il vento è sfruttato nell'antichità anche per muovere la macine. I primi mulini a vento
          compaiono in Persia nel 644 a.C. a cui seguiranno in Europa, circa mille anno dopo, i mulini a vento a pale
          verticali. Un'altra fonte di energia rinnovabile del passato è la forza dell'acqua. Nel 100 a.C. compaiono in
          Anatolia i primi mulini ad acqua. Pochi anni dopo i romani sviluppano e ingegnerizzano la scoperta realizzando
          la ruota ad acqua in uso in tutto l'impero romano. Senza contare il ruolo svolto dalle biomasse nelle società
          del mondo antico e medioevale. La combustione del legno è stata la prima fonte di energia termica, utilizzata
          per riscaldare l'ambiente interno o per cuocere i cibi prima ancora della costruzione delle prime palafitte.
          Le fonti di energia restano le stesse fino alla fine del medioevo.
        </p>

        <p>Nel Novecento sono fondate le basi delle moderne fonti energetiche rinnovabili. Nel 1904 entra in funzione la
          centrale geotermica di Larderello in Toscana. Nel 1930 sono prodotti negli Stati Uniti i primi aerogeneratori
          eolici in grado di trasformare la forza del vento in energia elettrica. Nel 1954 sono prodotte le prime celle
          fotovoltaiche in grado di convertire l'energia solare direttamente in energia
          elettrica.</p>

        <p>
          La metà del Novecento è caratterizzata dalla scoperta e dalle prime applicazioni dell'energia nucleare. Il
          tutto accade in pochi anni. Nel 1896 H.Becquerel scopre la radioattività. Nel 1938 Hahn e Strassman scoprono
          la fissione dell'atomo. Nel 1942 il fisico italiano Enrico Fermi realizza la prima pila atomica con reazione a
          catena controllata presso l'università di Chicago. Nel 1954 entra in funzione la prima centrale nucleare della
          storia. La tecnologia nucleare basata sulla fissione nucleare sarà costantemente migliorata nel corso del
          secolo.
        </p>




        <div class="image-block">
          <img src="/assets/corrente.jpg" class="img-responsive">
        </div>
<h2>Tutto quello che sappiamo (finora) sulla fusione nucleare...</h2>

        <p class="lead">La fusione nucleare è una metodologia sperimentale volta a ottenere una possibile fonte di
          energia a scopi civili, potenzialmente quasi illimitata, che si avvale degli stessi principi fisici che
          alimentano le stelle, come il Sole.
        </p>
        <p>L'obiettivo è innescare una "fusione" artificiale tra nuclei di atomi di elementi leggeri per generare
          energia, in misura tale che la reazione sia in grado di autosostenersi, producendo più di quanto venga
          consumato per attivare e mantenere il processo stesso.</p>

        <p>Il procedimento è inverso rispetto alla fissione nucleare, che per liberare energia provoca al contrario il
          decadimento di elementi chimici pesanti.</p>
        <blockquote>
          <p><cite>"On Dec. 5, a team at LLNL’s National Ignition Facility (NIF) conducted the first controlled fusion
              experiment in history to reach this milestone, also known as scientific energy breakeven, meaning it
              produced more energy from fusion than the laser energy used to drive it."</cite></p>
          <footer><cite><a href="https://www.energy.gov">The U.S. Department of Energy (DOE)</a> and <a
                href="https://www.energy.gov/nnsa/national-nuclear-security-administration">DOE’s National Nuclear
                Security Administration</a></cite></footer>
        </blockquote>

        <blockquote>
          <h3>Punti di forza</h3>
          <ul>
            <li>Il processo di fusione non emette gas serra, ma solo nuclei di elio e neutroni. Si ritiene che gli
              scarti radioattivi (attivazione neutronica) di un impianto a fusione possano avere una durata di circa un
              secolo, al contrario delle migliaia di anni della fissione
            </li>
            <li>
              Il deuterio è un elemento abbondante che può essere estratto dall'acqua pesante o quella del mare
            </li>
            <li>
              Un grammo di deuterio sottoposto a fusione produce la stessa quantità di energia prodotta da 30 tonnellate
              di carbone.
            </li>
          </ul>
          <h3>Punti di debolezza</h3>
          <ul>
            <li>
              Il trizio non esiste in natura ed è assai raro, attualmente si trovano solo 20 chilogrammi in tutto il
              mondo. Inoltre decade in un tempo rapido (circa 12 anni).
            </li>
            <li>
              Un grammo di trizio costa 30mila dollari, ma risparmiare un kg di trizio per le esigenze dell'<a
                href="https://it.wikipedia.org/wiki/DEMO">impianto
                DEMO</a> costerebbe 2 miliardi.
            </li>
            <li>
              La fusione deuterio-trizio resta quella più "facile" da ottenere alle temperature più "basse" (oltre 100
              milioni di gradi).
            </li>
          </ul>
          <h3>Rischi</h3>
          <ul>
            <li>Il trizio è un elemento di scarto delle centrali nucleari a fissione e soltanto Canada, Corea del Sud e
              Romania lo rendono disponibile</li>
            <li>La disponibilità di centrali per scopi commerciali è prevista solo a partire dal 2050 (ITER).</li>
            <li>Stima dei costi difficile in fase sperimentale. Il progetto Iter, per esempio, è salito da una
              previsione di 4,9 miliardi di euro iniziali (2001) a 13 miliardi (2016). Quando la tabella di marcia ha
              fissato il primo plasma nel 2025 (data poi posticipata) sono stati aggiunti 4 miliardi di euro alla
              valutazione.</li>
          </ul>

        </blockquote>



      </div>







      <div class="col-lg-3  col-md-3 col-sm-12">
        <div class="list-group">
          <a class="list-group-item active" href="#">
            <h3 class="list-group-item-heading">Energia geotermica</h3>
            <p class="list-group-item-text">L’energia geotermica è l’energia termica generata e conservata all’interno
              del pianeta Terra. L’energia geotermica della crosta terrestre deriva dalla formazione del pianeta e dal
              processo di decadimento radioattivo di alcuni elementi presenti all’interno della Terra. </p>
          </a>
          <a class="list-group-item" href="#">
            <p class="list-group-item-text">Chi ha scoperto l’energia geotermica nel passato l’ha sempre utilizzata come
              fonte di calore e quindi per il riscaldamento, oggi invece questo tipo di energia è associata alla
              produzione di energia elettrica. In questo, l’Italia è stato un Paese pioniere. Nel 1904, a Larderello in
              Toscana, venne sperimentato il primo generatore geotermico a opera del principe Piero Ginori Conti. Fu il
              primo impianto a produrre elettricità a partire dal calore della Terra e precursore di numerose centrali
              geotermiche.</p>
          </a>
          <a class="list-group-item" href="#">
            <p class="list-group-item-text">L’energia geotermica in Italia è all’avanguardia nel mondo. Dopo essere
              stati i primi a sfruttare l’energia proveniente dal sottosuolo all’inizio del 1900, il nostro Paese
              mantiene ancora oggi un buon primato nel settore. Le principali centrali elettriche geotermiche nel Bel
              Paese si trovano in Toscana, con ben 35 siti. Si concentrano nel triangolo Larderello-Travale-Radicondoli
              e sul Monte Amiata. Le province interessate (Siena, Pisa e Grosseto) sfruttano la geotermia in modo
              intenso per produrre un’energia elettrica sfruttata poi su tutto il territorio nazionale.</p>
          </a>
        </div>

        <div class="well bg-dark rounded-5">
          <h2 class="text-white">About me...</h2>
          <img src="" class="img-rounded" />
          <p class="text-white">
          </p>
          <a id="github" href="https://github.com/Vic0Lan" class="btn text-white">Read more</a>
        </div>
      </div>
    </div>


  </div> <!-- /container -->
</section>




<app-footer></app-footer>
